
body {
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dev-information-section {
    width: 3em;
    color: #9a9a9a;
}

#deck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22em;
}

#deck div.card {
    position: absolute;
    margin: 1em 1em;
    padding: 1em 1em;
    height: 15em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url("touch_icon.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: right -2em top -2em;

    border-style: solid;
    border-radius: 1em;
    border-width: 0.05em;
    border-color: black;

    cursor: pointer;
    font-size: 1.5em;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#deck div.card-text {
    text-align: center;
    color: #0a0f49;
}
